a{
	text-decoration: none;
}

.welcome_screen_3_2 { 
	overflow:hidden;
}
.welcome_screen_3_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:800px;
	height:400px;
	position:absolute;
}
.board_3_176 {
	width:250px;
	height:250px;
	position:absolute;
	left:488px;
	top:98px;
}
.cell_i3_176_3_94 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:0px;
	top:0px;
}
.cell_i3_176_3_94 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_95 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:27.77777862548828px;
	top:0px;
}
.cell_i3_176_3_95 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_96 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:55.55555725097656px;
	top:0px;
}
.cell_i3_176_3_96 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_97 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:83.33333587646484px;
	top:0px;
}
.cell_i3_176_3_97 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_98 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:111.11111450195312px;
	top:0px;
}
.cell_i3_176_3_98 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_99 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777862548828px;
	position:absolute;
	left:138.88888549804688px;
	top:0px;
}
.cell_i3_176_3_99 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_100 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:166.6666717529297px;
	top:0px;
}
.cell_i3_176_3_100 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_101 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777862548828px;
	position:absolute;
	left:194.44444274902344px;
	top:0px;
}
.cell_i3_176_3_101 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_102 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:222.22222900390625px;
	top:0px;
}
.cell_i3_176_3_102 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_103 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:0px;
	top:27.77777862548828px;
}
.cell_i3_176_3_103 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_104 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:27.77777862548828px;
	top:27.77777862548828px;
}
.cell_i3_176_3_104 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_105 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:55.55555725097656px;
	top:27.77777862548828px;
}
.cell_i3_176_3_105 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_106 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:83.33333587646484px;
	top:27.77777862548828px;
}
.cell_i3_176_3_106 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_107 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:111.11111450195312px;
	top:27.77777862548828px;
}
.cell_i3_176_3_107 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_108 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777862548828px;
	position:absolute;
	left:138.88888549804688px;
	top:27.77777862548828px;
}
.cell_i3_176_3_108 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_109 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:166.6666717529297px;
	top:27.77777862548828px;
}
.cell_i3_176_3_109 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_110 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777862548828px;
	position:absolute;
	left:194.44444274902344px;
	top:27.77777862548828px;
}
.cell_i3_176_3_110 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_111 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:222.22222900390625px;
	top:27.77777862548828px;
}
.cell_i3_176_3_111 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_112 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:0px;
	top:55.55555725097656px;
}
.cell_i3_176_3_112 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_113 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:27.77777862548828px;
	top:55.55555725097656px;
}
.cell_i3_176_3_113 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_114 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:55.55555725097656px;
	top:55.55555725097656px;
}
.cell_i3_176_3_114 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_115 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:83.33333587646484px;
	top:55.55555725097656px;
}
.cell_i3_176_3_115 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_116 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:111.11111450195312px;
	top:55.55555725097656px;
}
.cell_i3_176_3_116 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_117 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777862548828px;
	position:absolute;
	left:138.88888549804688px;
	top:55.55555725097656px;
}
.cell_i3_176_3_117 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_118 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:166.6666717529297px;
	top:55.55555725097656px;
}
.cell_i3_176_3_118 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_119 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777862548828px;
	position:absolute;
	left:194.44444274902344px;
	top:55.55555725097656px;
}
.cell_i3_176_3_119 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_120 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:222.22222900390625px;
	top:55.55555725097656px;
}
.cell_i3_176_3_120 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_121 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:0px;
	top:83.33333587646484px;
}
.cell_i3_176_3_121 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_122 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:27.77777862548828px;
	top:83.33333587646484px;
}
.cell_i3_176_3_122 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_123 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:55.55555725097656px;
	top:83.33333587646484px;
}
.cell_i3_176_3_123 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_124 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777862548828px;
	position:absolute;
	left:83.33333587646484px;
	top:83.33333587646484px;
}
.cell_i3_176_3_124 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_125 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:111.11111450195312px;
	top:83.33333587646484px;
}
.cell_i3_176_3_125 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_126 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777862548828px;
	position:absolute;
	left:138.88888549804688px;
	top:83.33333587646484px;
}
.cell_i3_176_3_126 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_127 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:166.6666717529297px;
	top:83.33333587646484px;
}
.cell_i3_176_3_127 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_128 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777862548828px;
	position:absolute;
	left:194.44444274902344px;
	top:83.33333587646484px;
}
.cell_i3_176_3_128 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_129 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777862548828px;
	position:absolute;
	left:222.22222900390625px;
	top:83.33333587646484px;
}
.cell_i3_176_3_129 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_130 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:0px;
	top:111.11111450195312px;
}
.cell_i3_176_3_130 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_131 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:27.77777862548828px;
	top:111.11111450195312px;
}
.cell_i3_176_3_131 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_132 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:55.55555725097656px;
	top:111.11111450195312px;
}
.cell_i3_176_3_132 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_133 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:83.33333587646484px;
	top:111.11111450195312px;
}
.cell_i3_176_3_133 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_134 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777099609375px;
	position:absolute;
	left:111.11111450195312px;
	top:111.11111450195312px;
}
.cell_i3_176_3_134 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_135 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777099609375px;
	position:absolute;
	left:138.88888549804688px;
	top:111.11111450195312px;
}
.cell_i3_176_3_135 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_136 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777099609375px;
	position:absolute;
	left:166.6666717529297px;
	top:111.11111450195312px;
}
.cell_i3_176_3_136 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_137 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777099609375px;
	position:absolute;
	left:194.44444274902344px;
	top:111.11111450195312px;
}
.cell_i3_176_3_137 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_138 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777099609375px;
	position:absolute;
	left:222.22222900390625px;
	top:111.11111450195312px;
}
.cell_i3_176_3_138 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_139 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.777786254882812px;
	position:absolute;
	left:0px;
	top:138.88888549804688px;
}
.cell_i3_176_3_139 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_140 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.777786254882812px;
	position:absolute;
	left:27.77777862548828px;
	top:138.88888549804688px;
}
.cell_i3_176_3_140 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_141 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.777786254882812px;
	position:absolute;
	left:55.55555725097656px;
	top:138.88888549804688px;
}
.cell_i3_176_3_141 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_142 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.777786254882812px;
	position:absolute;
	left:83.33333587646484px;
	top:138.88888549804688px;
}
.cell_i3_176_3_142 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_143 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.777786254882812px;
	position:absolute;
	left:111.11111450195312px;
	top:138.88888549804688px;
}
.cell_i3_176_3_143 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_144 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.777786254882812px;
	position:absolute;
	left:138.88888549804688px;
	top:138.88888549804688px;
}
.cell_i3_176_3_144 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_145 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.777786254882812px;
	position:absolute;
	left:166.6666717529297px;
	top:138.88888549804688px;
}
.cell_i3_176_3_145 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_146 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.777786254882812px;
	position:absolute;
	left:194.44444274902344px;
	top:138.88888549804688px;
}
.cell_i3_176_3_146 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_147 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.777786254882812px;
	position:absolute;
	left:222.22222900390625px;
	top:138.88888549804688px;
}
.cell_i3_176_3_147 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_148 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:0px;
	top:166.6666717529297px;
}
.cell_i3_176_3_148 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_149 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:27.77777862548828px;
	top:166.6666717529297px;
}
.cell_i3_176_3_149 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_150 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:55.55555725097656px;
	top:166.6666717529297px;
}
.cell_i3_176_3_150 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_151 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:83.33333587646484px;
	top:166.6666717529297px;
}
.cell_i3_176_3_151 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_152 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777099609375px;
	position:absolute;
	left:111.11111450195312px;
	top:166.6666717529297px;
}
.cell_i3_176_3_152 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_153 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777099609375px;
	position:absolute;
	left:138.88888549804688px;
	top:166.6666717529297px;
}
.cell_i3_176_3_153 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_154 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777099609375px;
	position:absolute;
	left:166.6666717529297px;
	top:166.6666717529297px;
}
.cell_i3_176_3_154 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_155 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777099609375px;
	position:absolute;
	left:194.44444274902344px;
	top:166.6666717529297px;
}
.cell_i3_176_3_155 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_156 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777099609375px;
	position:absolute;
	left:222.22222900390625px;
	top:166.6666717529297px;
}
.cell_i3_176_3_156 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_157 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.777786254882812px;
	position:absolute;
	left:0px;
	top:194.44444274902344px;
}
.cell_i3_176_3_157 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_158 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.777786254882812px;
	position:absolute;
	left:27.77777862548828px;
	top:194.44444274902344px;
}
.cell_i3_176_3_158 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_159 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.777786254882812px;
	position:absolute;
	left:55.55555725097656px;
	top:194.44444274902344px;
}
.cell_i3_176_3_159 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_160 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.777786254882812px;
	position:absolute;
	left:83.33333587646484px;
	top:194.44444274902344px;
}
.cell_i3_176_3_160 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_161 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.777786254882812px;
	position:absolute;
	left:111.11111450195312px;
	top:194.44444274902344px;
}
.cell_i3_176_3_161 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_162 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.777786254882812px;
	position:absolute;
	left:138.88888549804688px;
	top:194.44444274902344px;
}
.cell_i3_176_3_162 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_163 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.777786254882812px;
	position:absolute;
	left:166.6666717529297px;
	top:194.44444274902344px;
}
.cell_i3_176_3_163 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_164 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.777786254882812px;
	position:absolute;
	left:194.44444274902344px;
	top:194.44444274902344px;
}
.cell_i3_176_3_164 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_165 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.777786254882812px;
	position:absolute;
	left:222.22222900390625px;
	top:194.44444274902344px;
}
.cell_i3_176_3_165 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_166 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:0px;
	top:222.22222900390625px;
}
.cell_i3_176_3_166 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_167 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:27.77777862548828px;
	top:222.22222900390625px;
}
.cell_i3_176_3_167 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_168 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:55.55555725097656px;
	top:222.22222900390625px;
}
.cell_i3_176_3_168 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_169 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777862548828px;
	height:27.77777099609375px;
	position:absolute;
	left:83.33333587646484px;
	top:222.22222900390625px;
}
.cell_i3_176_3_169 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_170 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777099609375px;
	position:absolute;
	left:111.11111450195312px;
	top:222.22222900390625px;
}
.cell_i3_176_3_170 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_171 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777099609375px;
	position:absolute;
	left:138.88888549804688px;
	top:222.22222900390625px;
}
.cell_i3_176_3_171 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_172 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777099609375px;
	position:absolute;
	left:166.6666717529297px;
	top:222.22222900390625px;
}
.cell_i3_176_3_172 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_173 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.777786254882812px;
	height:27.77777099609375px;
	position:absolute;
	left:194.44444274902344px;
	top:222.22222900390625px;
}
.cell_i3_176_3_173 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_176_3_174 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:27.77777099609375px;
	height:27.77777099609375px;
	position:absolute;
	left:222.22222900390625px;
	top:222.22222900390625px;
}
.cell_i3_176_3_174 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.sign_in_button_3_261 { 
	width:90px;
	height:30px;
	position:absolute;
	left:693px;
	top:20px;
}
.rectangle_3_i3_261_3_92 { 
	background-color:rgba(0, 163.1999659538269, 255, 1);
	width:90px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.rectangle_3_i3_261_3_92:active{
	background-color: rgb(0, 133, 210);;
}

.______i3_261_3_258 { 
	color:rgba(255, 255, 255, 1);
	width:90px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	border: none;
}

.______i3_261_3_258:active{
	color: black;
}

.rectangle_2_3_90 { 
	width:400px;
	height:350px;
	position:absolute;
	left:400px;
	top:50px;
}
.rectangle_1_3_87 { 
	width:400px;
	height:350px;
	position:absolute;
	left:0px;
	top:50px;
}
._____3_88 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:42px;
	position:absolute;
	left:50px;
	top:138px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.___________________________________________________________________________________________________________________________3_89 { 
	color:rgba(0, 0, 0, 1);
	width:299px;
	height:82px;
	position:absolute;
	left:50px;
	top:180px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
