.3_282 { 
	overflow:hidden;
}
.game_window_3_282 { 
	background-color:rgba(255, 255, 255, 1);
	width:800px;
	height:400px;
	position:absolute;
}
.rectangle_4_3_369 { 
	background-color:rgba(255, 255, 255, 1);
	width:800px;
	height:50px;
	position:absolute;
	left:0px;
	top:350px;
}
.rectangle_6_3_371 { 
	background-color:rgba(255, 255, 255, 1);
	width:800px;
	height:50px;
	position:absolute;
	left:3.552713678800501e-15px;
	top:0px;
}
.rectangle_5_3_370 { 
	background-color:rgba(255, 255, 255, 1);
	width:800px;
	height:300px;
	position:absolute;
	left:3.552713678800501e-15px;
	top:50px;
}
.sign_in_button_3_366 { 
	width:90px;
	height:30px;
	position:absolute;
	left:355px;
	top:360px;
}
.rectangle_3_i3_366_3_92 { 
	background-color:rgba(0, 163.1999659538269, 255, 1);
	width:90px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.rectangle_3_i3_366_3_92:active{
	background-color: rgb(0, 133, 210);
}
.______i3_366_3_258 { 
	color:rgba(255, 255, 255, 1);
	width:90px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	border: none;
}

.______i3_366_3_258:active{
	color: black;
}

.board_3_283 { 
	width:300px;
	height:300px;
	position:absolute;
	left:250px;
	top:50px;
}
.cell_i3_283_3_94 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33333206176758px;
	position:absolute;
	left:0px;
	top:0px;
}
.cell_i3_283_3_94 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_95 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33333206176758px;
	position:absolute;
	left:33.33333206176758px;
	top:0px;
}
.cell_i3_283_3_95 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_96 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333335876464844px;
	height:33.33333206176758px;
	position:absolute;
	left:66.66666412353516px;
	top:0px;
}
.cell_i3_283_3_96 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_97 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33333206176758px;
	position:absolute;
	left:100px;
	top:0px;
}
.cell_i3_283_3_97 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_98 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33333206176758px;
	position:absolute;
	left:133.3333282470703px;
	top:0px;
}
.cell_i3_283_3_98 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_99 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33333206176758px;
	position:absolute;
	left:166.6666717529297px;
	top:0px;
}
.cell_i3_283_3_99 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_100 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33333206176758px;
	position:absolute;
	left:200px;
	top:0px;
}
.cell_i3_283_3_100 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_101 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33333206176758px;
	position:absolute;
	left:233.3333282470703px;
	top:0px;
}
.cell_i3_283_3_101 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_102 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33333206176758px;
	position:absolute;
	left:266.6666564941406px;
	top:0px;
}
.cell_i3_283_3_102 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_103 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33333206176758px;
	position:absolute;
	left:0px;
	top:33.33333206176758px;
}
.cell_i3_283_3_103 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_104 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33333206176758px;
	position:absolute;
	left:33.33333206176758px;
	top:33.33333206176758px;
}
.cell_i3_283_3_104 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_105 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333335876464844px;
	height:33.33333206176758px;
	position:absolute;
	left:66.66666412353516px;
	top:33.33333206176758px;
}
.cell_i3_283_3_105 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_106 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33333206176758px;
	position:absolute;
	left:100px;
	top:33.33333206176758px;
}
.cell_i3_283_3_106 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_107 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33333206176758px;
	position:absolute;
	left:133.3333282470703px;
	top:33.33333206176758px;
}
.cell_i3_283_3_107 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_108 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33333206176758px;
	position:absolute;
	left:166.6666717529297px;
	top:33.33333206176758px;
}
.cell_i3_283_3_108 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_109 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33333206176758px;
	position:absolute;
	left:200px;
	top:33.33333206176758px;
}
.cell_i3_283_3_109 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_110 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33333206176758px;
	position:absolute;
	left:233.3333282470703px;
	top:33.33333206176758px;
}
.cell_i3_283_3_110 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_111 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33333206176758px;
	position:absolute;
	left:266.6666564941406px;
	top:33.33333206176758px;
}
.cell_i3_283_3_111 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_112 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.333335876464844px;
	position:absolute;
	left:0px;
	top:66.66666412353516px;
}
.cell_i3_283_3_112 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_113 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.333335876464844px;
	position:absolute;
	left:33.33333206176758px;
	top:66.66666412353516px;
}
.cell_i3_283_3_113 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_114 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333335876464844px;
	height:33.333335876464844px;
	position:absolute;
	left:66.66666412353516px;
	top:66.66666412353516px;
}
.cell_i3_283_3_114 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_115 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333335876464844px;
	position:absolute;
	left:100px;
	top:66.66666412353516px;
}
.cell_i3_283_3_115 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_116 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.333335876464844px;
	position:absolute;
	left:133.3333282470703px;
	top:66.66666412353516px;
}
.cell_i3_283_3_116 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_117 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333335876464844px;
	position:absolute;
	left:166.6666717529297px;
	top:66.66666412353516px;
}
.cell_i3_283_3_117 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_118 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333335876464844px;
	position:absolute;
	left:200px;
	top:66.66666412353516px;
}
.cell_i3_283_3_118 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_119 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333335876464844px;
	position:absolute;
	left:233.3333282470703px;
	top:66.66666412353516px;
}
.cell_i3_283_3_119 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_120 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.333335876464844px;
	position:absolute;
	left:266.6666564941406px;
	top:66.66666412353516px;
}
.cell_i3_283_3_120 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_121 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33332824707031px;
	position:absolute;
	left:0px;
	top:100px;
}
.cell_i3_283_3_121 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_122 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33332824707031px;
	position:absolute;
	left:33.33333206176758px;
	top:100px;
}
.cell_i3_283_3_122 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_123 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333335876464844px;
	height:33.33332824707031px;
	position:absolute;
	left:66.66666412353516px;
	top:100px;
}
.cell_i3_283_3_123 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_124 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:100px;
	top:100px;
}
.cell_i3_283_3_124 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_125 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33332824707031px;
	position:absolute;
	left:133.3333282470703px;
	top:100px;
}
.cell_i3_283_3_125 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_126 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:166.6666717529297px;
	top:100px;
}
.cell_i3_283_3_126 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_127 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:200px;
	top:100px;
}
.cell_i3_283_3_127 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_128 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:233.3333282470703px;
	top:100px;
}
.cell_i3_283_3_128 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_129 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33332824707031px;
	position:absolute;
	left:266.6666564941406px;
	top:100px;
}
.cell_i3_283_3_129 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_130 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.333343505859375px;
	position:absolute;
	left:0px;
	top:133.3333282470703px;
}
.cell_i3_283_3_130 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_131 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.333343505859375px;
	position:absolute;
	left:33.33333206176758px;
	top:133.3333282470703px;
}
.cell_i3_283_3_131 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_132 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333335876464844px;
	height:33.333343505859375px;
	position:absolute;
	left:66.66666412353516px;
	top:133.3333282470703px;
}
.cell_i3_283_3_132 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_133 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333343505859375px;
	position:absolute;
	left:100px;
	top:133.3333282470703px;
}
.cell_i3_283_3_133 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_134 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.333343505859375px;
	position:absolute;
	left:133.3333282470703px;
	top:133.3333282470703px;
}
.cell_i3_283_3_134 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_135 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333343505859375px;
	position:absolute;
	left:166.6666717529297px;
	top:133.3333282470703px;
}
.cell_i3_283_3_135 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_136 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333343505859375px;
	position:absolute;
	left:200px;
	top:133.3333282470703px;
}
.cell_i3_283_3_136 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_137 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333343505859375px;
	position:absolute;
	left:233.3333282470703px;
	top:133.3333282470703px;
}
.cell_i3_283_3_137 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_138 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.333343505859375px;
	position:absolute;
	left:266.6666564941406px;
	top:133.3333282470703px;
}
.cell_i3_283_3_138 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_139 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33332824707031px;
	position:absolute;
	left:0px;
	top:166.6666717529297px;
}
.cell_i3_283_3_139 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_140 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33332824707031px;
	position:absolute;
	left:33.33333206176758px;
	top:166.6666717529297px;
}
.cell_i3_283_3_140 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_141 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333335876464844px;
	height:33.33332824707031px;
	position:absolute;
	left:66.66666412353516px;
	top:166.6666717529297px;
}
.cell_i3_283_3_141 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_142 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:100px;
	top:166.6666717529297px;
}
.cell_i3_283_3_142 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_143 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33332824707031px;
	position:absolute;
	left:133.3333282470703px;
	top:166.6666717529297px;
}
.cell_i3_283_3_143 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_144 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:166.6666717529297px;
	top:166.6666717529297px;
}
.cell_i3_283_3_144 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_145 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:200px;
	top:166.6666717529297px;
}
.cell_i3_283_3_145 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_146 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:233.3333282470703px;
	top:166.6666717529297px;
}
.cell_i3_283_3_146 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_147 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33332824707031px;
	position:absolute;
	left:266.6666564941406px;
	top:166.6666717529297px;
}
.cell_i3_283_3_147 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_148 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33332824707031px;
	position:absolute;
	left:0px;
	top:200px;
}
.cell_i3_283_3_148 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_149 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33332824707031px;
	position:absolute;
	left:33.33333206176758px;
	top:200px;
}
.cell_i3_283_3_149 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_150 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333335876464844px;
	height:33.33332824707031px;
	position:absolute;
	left:66.66666412353516px;
	top:200px;
}
.cell_i3_283_3_150 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_151 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:100px;
	top:200px;
}
.cell_i3_283_3_151 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_152 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33332824707031px;
	position:absolute;
	left:133.3333282470703px;
	top:200px;
}
.cell_i3_283_3_152 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_153 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:166.6666717529297px;
	top:200px;
}
.cell_i3_283_3_153 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_154 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:200px;
	top:200px;
}
.cell_i3_283_3_154 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_155 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:233.3333282470703px;
	top:200px;
}
.cell_i3_283_3_155 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_156 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33332824707031px;
	position:absolute;
	left:266.6666564941406px;
	top:200px;
}
.cell_i3_283_3_156 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_157 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33332824707031px;
	position:absolute;
	left:0px;
	top:233.3333282470703px;
}
.cell_i3_283_3_157 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_158 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.33332824707031px;
	position:absolute;
	left:33.33333206176758px;
	top:233.3333282470703px;
}
.cell_i3_283_3_158 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_159 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333335876464844px;
	height:33.33332824707031px;
	position:absolute;
	left:66.66666412353516px;
	top:233.3333282470703px;
}
.cell_i3_283_3_159 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_160 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:100px;
	top:233.3333282470703px;
}
.cell_i3_283_3_160 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_161 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33332824707031px;
	position:absolute;
	left:133.3333282470703px;
	top:233.3333282470703px;
}
.cell_i3_283_3_161 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_162 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:166.6666717529297px;
	top:233.3333282470703px;
}
.cell_i3_283_3_162 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_163 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:200px;
	top:233.3333282470703px;
}
.cell_i3_283_3_163 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_164 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.33332824707031px;
	position:absolute;
	left:233.3333282470703px;
	top:233.3333282470703px;
}
.cell_i3_283_3_164 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_165 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.33332824707031px;
	position:absolute;
	left:266.6666564941406px;
	top:233.3333282470703px;
}
.cell_i3_283_3_165 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_166 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.333343505859375px;
	position:absolute;
	left:0px;
	top:266.6666564941406px;
}
.cell_i3_283_3_166 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_167 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33333206176758px;
	height:33.333343505859375px;
	position:absolute;
	left:33.33333206176758px;
	top:266.6666564941406px;
}
.cell_i3_283_3_167 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_168 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333335876464844px;
	height:33.333343505859375px;
	position:absolute;
	left:66.66666412353516px;
	top:266.6666564941406px;
}
.cell_i3_283_3_168 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_169 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333343505859375px;
	position:absolute;
	left:100px;
	top:266.6666564941406px;
}
.cell_i3_283_3_169 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_170 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.333343505859375px;
	position:absolute;
	left:133.3333282470703px;
	top:266.6666564941406px;
}
.cell_i3_283_3_170 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_171 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333343505859375px;
	position:absolute;
	left:166.6666717529297px;
	top:266.6666564941406px;
}
.cell_i3_283_3_171 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_172 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333343505859375px;
	position:absolute;
	left:200px;
	top:266.6666564941406px;
}
.cell_i3_283_3_172 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_173 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.33332824707031px;
	height:33.333343505859375px;
	position:absolute;
	left:233.3333282470703px;
	top:266.6666564941406px;
}
.cell_i3_283_3_173 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.cell_i3_283_3_174 { 
	background-color:rgba(242.00000077486038, 176.00000470876694, 96.00000187754631, 1);
	width:33.333343505859375px;
	height:33.333343505859375px;
	position:absolute;
	left:266.6666564941406px;
	top:266.6666564941406px;
}
.cell_i3_283_3_174 { 
	border:1px solid rgba(83.93750354647636, 61.17088079452515, 33.57499837875366, 1);
}
.prison_3_461 { 
	width:40px;
	height:300px;
	position:absolute;
	left:600px;
	top:50px;
}
.prison_i3_461_3_457 { 
	background-color:rgba(233.7500050663948, 233.7500050663948, 233.7500050663948, 1);
	width:40px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.cell_i3_461_3_457 { 
	border:2px solid rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
}
.prison_3_459 { 
	width:40px;
	height:300px;
	position:absolute;
	left:160px;
	top:50px;
}
.prison_i3_459_3_457 { 
	background-color:rgba(233.7500050663948, 233.7500050663948, 233.7500050663948, 1);
	width:40px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.cell_i3_459_3_457 { 
	border:2px solid rgba(190.18750101327896, 190.18750101327896, 190.18750101327896, 1);
}
._______1_3_454 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:20px;
	position:absolute;
	left:355px;
	top:7px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
._345_3_455 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:13px;
	position:absolute;
	left:355px;
	top:30px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.figure_3_365 { 
	width:32px;
	height:32px;
	position:absolute;
	left:251px;
	top:51px;
	background-image:url(images/figure.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.figure_3_466 { 
	width:32px;
	height:32px;
	position:absolute;
	left:164px;
	top:56px;
	background-image:url(images/figure.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.figure_3_463 { 
	width:32px;
	height:32px;
	position:absolute;
	left:318px;
	top:117px;
	background-image:url(images/figure.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.figure_3_464 { 
	transform: rotate(-180deg);
	width:32px;
	height:32px;
	position:absolute;
	left:483px;
	top:316px;
	background-image:url(images/figure.png);
	background-repeat:no-repeat;
	background-size:cover;
}
